<section class="blog-post">
  <a href="/blog/{{id}}">
    <div>
      <header><b>{{title}}</b></header>
      <p>Created By: {{user.username}}
        <br>Posted On: {{format_date post_date}}<br>
      </p>
    </div>
    <div>    
      <p><b><u>Details:</u></b>
        <br>{{text}}<br>
      </p>
    </div>
  </a>

</section>
